//color
$primary:#198754; //深綠色_主色
$white:#fff; //白(字)
$secondary:#F8F9FA; //淡灰色_背景
$darkgray:#212529; //深灰色
$lightgray:#CED4DA; //淺灰色_線框
$gray:#6C757D; 



//font
$font-h2:24px;
$font-h3:48px;
$font-h4:36px;
$font-h5:24px;
$font-h6:20px;
$font-h7:16px;

